.home {
    background-image: url(../images/cover.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover; 
}
.navbarc {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    padding: -10%;
} 
  .navbarc a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: left;
    /* padding-left: 20%; */
    text-decoration: none;
    font-size: 17px;
    margin: 30px;
}
  .navbarc a:hover {
    background: #ddd;
    
    color: black;
    
}
  
#name {
    font-family: 'Times New Roman', Times, serif;
    
    color: black;
    padding-top: 10%;
    padding-left: 60%;
    font-size: 70px;
}
.about {
    text-align: center;
    border: 2px solid black;
    height: 120px;

}
.heading {
    text-align: center;
}
.container {
    background-image: url("../images/anime.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.facts {
    text-align: center;
}
.fun {
    text-align: center;
    border: 2px solid black;
    height: 150px;
}
.slide {
    text-align: center;
    font-size: 200%;
}
.simim {
    display: none;
    text-align: center;
}
