.home {
    background-image: url(../images/cover.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover; 
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
} 
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  .navbar a:hover {
    background: #ddd;
    color: black;
}
  
.name {
    font-family: 'Times New Roman', Times, serif;
    
    color: black;
    padding-top: 10%;
    padding-left: 60%;
    font-size: 70px;
}
.about {
    text-align: center;
    border: 2px solid black;
    height: 120px;

}
.heading {
    text-align: center;
}
.facts {
    text-align: center;
}
.fun {
    text-align: center;
    border: 2px solid black;
    height: 150px;
}
